h1{
    color: #ff2a00;
}

*{
    color: aqua;
    background-color:#FABC3C;

}

.one{ color: #ff5b14;

}

.two{
    color:#d96200 ;
}


.imp{
    color:#a26400;
    /* background-color: #FABC3C;  */
}
#three{
    color: rgba(0, 0, 0, 0.842);
    background-color: rgba(255, 255, 255, 0.699);
}
*{
    background-color: black;
}
p{
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-stretch: extra-expanded;
}